.jumbotron {
  background-color: yellow;
  color: black;
  marging-top: 50px;
  margin-bottom: 50px;
}

body{
    background-color: #324065;
}
.footer {
   background-color: yellow;
   width: 100x;
   height; 50px;
   bottom: 0;
   position: fixed;
   text-align: center;
   color: #000;
}

.card-hotel {
  flex: 1 150px;
  back
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.btn-reserve {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;

}
